import { inject, Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable, map } from 'rxjs';
import { {{ name }}RepositoryPort } from '../domain/{{ name_kebab }}-repository.port';
import { {{ name }} } from '../domain/{{ name_kebab }}.entity';

@Injectable({ providedIn: 'root' })
export class {{ name }}Repository implements {{ name }}RepositoryPort {
  readonly #http = inject(HttpClient);
  readonly #baseUrl = `{{ prefix }}`;

  getAll(): Observable<{{ name }}[]> {
    return this.#http
      .get<Record<string, unknown>[]>(this.#baseUrl)
      .pipe(map((items) => items.map({{ name }}.fromJson)));
  }

  getById(id: string): Observable<{{ name }}> {
    return this.#http
      .get<Record<string, unknown>>(`${this.#baseUrl}/${id}`)
      .pipe(map({{ name }}.fromJson));
  }

  create(entity: {{ name }}): Observable<{{ name }}> {
    return this.#http
      .post<Record<string, unknown>>(this.#baseUrl, entity.toJson())
      .pipe(map({{ name }}.fromJson));
  }

  update(id: string, entity: {{ name }}): Observable<{{ name }}> {
    return this.#http
      .put<Record<string, unknown>>(`${this.#baseUrl}/${id}`, entity.toJson())
      .pipe(map({{ name }}.fromJson));
  }

  delete(id: string): Observable<void> {
    return this.#http.delete<void>(`${this.#baseUrl}/${id}`);
  }
}
