import { Component, inject, OnInit, signal } from '@angular/core';
import { {{ name }}LocalDatasource } from '../../../data/datasource/local/{{ name_kebab }}.local-datasource';
import { {{ name }}RemoteDatasource } from '../../../data/datasource/remote/{{ name_kebab }}.remote-datasource';
import { {{ name }}Model } from '../../../core/models/{{ name_kebab }}.model';

@Component({
  selector: 'app-{{ name_kebab }}-list',
  standalone: true,
  imports: [],
  templateUrl: './{{ name_kebab }}-list.page.html',
})
export class {{ name }}ListPage implements OnInit {
  readonly #remote = inject({{ name }}RemoteDatasource);
  readonly #local = inject({{ name }}LocalDatasource);

  readonly items = this.#local.items;
  readonly loading = this.#local.loading;
  readonly error = this.#local.error;

  ngOnInit(): void {
    this.loadItems();
  }

  loadItems(): void {
    this.#local.setLoading(true);
    this.#remote.getAll().subscribe({
      next: (res) => {
        this.#local.setItems(res.data);
        this.#local.setLoading(false);
      },
      error: (err) => {
        this.#local.setError(err.message);
        this.#local.setLoading(false);
      },
    });
  }

  selectItem(item: {{ name }}Model): void {
    this.#local.setSelected(item);
  }

  deleteItem(id: string): void {
    this.#remote.delete(id).subscribe({
      next: () => this.#local.removeItem(id),
      error: (err) => this.#local.setError(err.message),
    });
  }
}