export interface {{ name }}Model {
  {% for field in fields %}
  {{ field.name }}{% if not field.required %}?{% endif %}: {{ field.type }};
  {% endfor %}
}

export interface {{ name }}ListResponse {
  data: {{ name }}Model[];
  total: number;
  page: number;
}