import { inject, Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';
import { {{ name }}Model, {{ name }}ListResponse } from '../../../core/models/{{ name_kebab }}.model';

@Injectable({ providedIn: 'root' })
export class {{ name }}RemoteDatasource {
  readonly #http = inject(HttpClient);
  readonly #baseUrl = `{{ prefix }}`;

  getAll(): Observable<{{ name }}ListResponse> {
    return this.#http.get<{{ name }}ListResponse>(this.#baseUrl);
  }

  getById(id: string): Observable<{{ name }}Model> {
    return this.#http.get<{{ name }}Model>(`${this.#baseUrl}/${id}`);
  }

  create(payload: {{ name }}Model): Observable<{{ name }}Model> {
    return this.#http.post<{{ name }}Model>(this.#baseUrl, payload);
  }

  update(id: string, payload: Partial<{{ name }}Model>): Observable<{{ name }}Model> {
    return this.#http.put<{{ name }}Model>(`${this.#baseUrl}/${id}`, payload);
  }

  delete(id: string): Observable<void> {
    return this.#http.delete<void>(`${this.#baseUrl}/${id}`);
  }
}