import { createActionGroup, emptyProps, props } from '@ngrx/store';
import { {{ name }}Model } from '../core/models/{{ name_kebab }}.model';

export const {{ name }}Actions = createActionGroup({
  source: '{{ name }}',
  events: {
    'Load All': emptyProps(),
    'Load All Success': props<{ items: {{ name }}Model[] }>(),
    'Load All Failure': props<{ error: string }>(),
    'Select': props<{ item: {{ name }}Model }>(),
    'Clear Selected': emptyProps(),
  },
});