import { inject, Injectable } from '@angular/core';
import { {{ name }}Store } from './{{ name_kebab }}.store';

@Injectable({ providedIn: 'root' })
export class {{ name }}Facade {
  readonly #store = inject({{ name }}Store);

  readonly items = this.#store.items;
  readonly selected = this.#store.selected;
  readonly loading = this.#store.loading;
  readonly error = this.#store.error;
  readonly total = this.#store.total;

  selectItem(item: typeof this.#store.selected extends (() => infer T) ? T : never): void {
    this.#store.setSelected(item);
  }
}