import { ApplicationConfig } from '@angular/core';
import { provideRouter } from '@angular/router';

import { routes } from './app.routes';
import { provideGreetingRepository } from './infrastructure/providers/greeting.provider';

export const appConfig: ApplicationConfig = {
  providers: [provideRouter(routes), ...provideGreetingRepository()],
};