import { Component, inject, OnInit } from '@angular/core';
import { RouterModule } from '@angular/router';
import { {{ name }}Facade } from '../../_shared/facade/{{ name_kebab }}.facade';
import { {{ name }}Model } from '../../../core/models/{{ name_kebab }}.model';

@Component({
  selector: 'app-{{ name_kebab }}-list',
  standalone: true,
  imports: [RouterModule],
  templateUrl: './{{ name_kebab }}-list.component.html',
})
export class {{ name }}ListComponent implements OnInit {
  readonly #facade = inject({{ name }}Facade);

  readonly items = this.#facade.items;
  readonly loading = this.#facade.loading;
  readonly error = this.#facade.error;

  ngOnInit(): void {
    this.#facade.loadAll();
  }

  onDelete(id: string): void {
    this.#facade.delete(id);
  }
}